[package]
name = "membership"
version = "0.1.0"
authors = ["Zbigniew Kostrzewa <kostrzewa@9livesdata.com>"]
edition = "2018"

[dependencies]
mio = "0.6.16"
mio-extras = "2.0.5"
structopt = "0.2.15"
bytes = "0.4.12"
log = "0.4.6"
env_logger = "0.6.1"